@page
@model az_webApp_vscode_Srikanth.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deployment Slots Page"; 
}
<div class="text-center">
    <h1 class="display-4">Testing Deployment slots page</h1>
    <h3> Using GitHub</h3>
    <h4>
        Validating Deployment Feature
    </h4>
    
</div>
